body{
    font-family: 'Poppins', sans-serif;
}

.header{
    background-color: brown;
    color: white;
    height: 50px;
    width: 550px;
}

.main{
    background-color: burlywood;
    height: 50px 0;
    width: 550px;
}